.models {
    width: 80%;
    margin-inline: 10%;
    margin-block: 2rem;

    @media (max-width: 600px) {
        width: 100%;
        margin-inline: 0;
        flex-direction: column;
    }

    display: flex;
    flex-direction: row;

    &-secondery {
        display: flex;
        flex-direction: column;

        @media (min-width: 601px) {
            width: 20rem;
            border-inline-end: 1px solid black;
            margin-inline-end: 1rem;
            padding-inline-end: 1rem;
        }

        &-categories {

            @media (max-width: 600px) {
                display: flex;
                flex-direction: row;
                overflow-x: auto;
                gap: .5rem
            }

            @media (min-width: 601px) {

                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));

                justify-items: center;
                gap: 1rem;
            }

            >.selected {
                background-color: #698fbbb8;
            }

        }

    }

    &-main {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-input {}

        &-cards {

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

            @media (max-width: 600px) {
                grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
            }

            justify-items: center;
            gap: 1rem;
        }
    }

}

.only {
    &-large {
        @media (max-width: 600px) {
            display: none;
        }
    }

    &-small {
        @media (min-width: 601px) {
            display: none;
        }
    }
}

.divider {
    margin-block: 1rem;
}