<div class="models">
  <div class="models-secondery">
    <mat-form-field class="models-main-input">
      <mat-label>חיפוש</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="searchVal"
        (keyup.enter)="onSearch()"
      />
      <button matSuffix matIconButton aria-label="Clear" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-divider class="only-large divider"></mat-divider>
    <div class="models-secondery-categories">
      @for (category of categories$ | async; track $index) {
      <mat-chip
        [class.selected]="category.selected"
        (click)="selectCategory(category.id, !category.selected)"
        >{{ category.name }}</mat-chip
      >
      }
    </div>
    <mat-divider class="only-small divider"></mat-divider>
  </div>
  <div class="models-main">
    <div class="models-main-cards">
      @if (models$ | async; as models) { @for (model of models; track $index) {
      <app-model-card [model]="model"></app-model-card>
      } }
    </div>
  </div>
</div>
